<html lang="en" data-template="data-map:loadPageModel" >
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title data-template="site:title">title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
  <body>
    <!--
    The landmark role "banner" is set on this <header> element to indicate that
    it is the main heading or internal title of the page
-->
<header
    class="templates:include?path=templates/includes/header.html" 
    role="banner" />
    <!--
The landmark role "main" is added here as it contains the main content of th
e document, and it is recommended to add it to the <main> element until user age
nts implement the required role mapping.  -->
    <main role="main">
        <section>
            <article role="article"  data-template="entry:content" >
                This article contains an independent block of information.
            </article>
      </section>
      <aside role="complementary">
            <div data-template="config:app-info"/>
      </aside>
      <!--
    The landmark role "complementary" is added here to indicate that the
    <aside> contains supporting information for the main content which would
    remain meaningful even when separated from it
    o
-->
    </main>
    <!-- The landmark role "contentinfo" is added here as the footer contains
    metadata that applies to the parent document -->
    <footer role="contentinfo">
      <!-- This footer contains information about the document's content -->
      <small>
          <a href="http://example.com" title="example">
              example.com</a> is an localhost '/etc/hosts' dns bypass example site for
          nginx-eXist reverse proxy setup</small>
    </footer>
  </body>
</html>
