<html lang="en">
  <head>
    <title>title</title>
  </head>
  <body>
    <!--
    The landmark role "banner" is set on this <header> element to indicate that
    it is the main heading or internal title of the page 
-->
    <header
    role="banner" />
    <!--
The landmark role "main" is added here as it contains the main content of th
e document, and it is recommended to add it to the <main> element until user age
nts implement the required role mapping.  -->
    <main role="main">
      <section>
        <ol>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
          <li class="h-entry">Atque nulla nemo qui praesentium.
          Cumque dolorem quibusdam ut autem. Blanditiis asperiores
          harum nemo voluptas rerum consequatur rerum. Quia sed
          animi sapiente a ut enim repellendus. Unde voluptas
          voluptatem sapiente dolorum. Consequatur dolorem id natus
          provident voluptatum debitis possimus. Ne cessitatibus
          soluta quasi numquam minima. Totam id est et dolor
          perferendis. Iste sint odio dolores et explicabo. Sed
          corrupti dolor nostrum quae ea porro la borum. Assumenda
          et omnis quis fugiat est sit. Enim aut commodi maxime
          ea.</li>
        </ol>
      </section>
      <aside role="complementary">
      </aside>
      <!--
    The landmark role "complementary" is added here to indicate that the
    <aside> contains supporting information for the main content which would
    remain meaningful even when separated from it
    o
-->
    </main>
    <!-- The landmark role "contentinfo" is added here as the footer contains
    metadata that applies to the parent document -->
    <footer role="contentinfo">
      <!-- This footer contains information about the document's content -->
      <small>
      <a href="http://example.com" title="example">
      example.com</a> is an localhost '/etc/hosts' dns bypass example site for
  nginx-eXist reverse proxy setup</small>
    </footer>
  </body>
</html>
